[Desktop Entry]
Type=Application
Name=LazyVPN Autostart
Exec=/home/phantom/.local/share/lazyvpn/bin/lazyvpn-autostart-handler
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
